services:
  redis:
    image: "redis:alpine"
    ports:
      - 6379:6379
    volumes:
      - ./data/redis:/var/lib/redis

  db:
    image: "postgres:alpine"
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  bot:
    build: .
    volumes:
      - ./:/app
    depends_on:
      - db
      - redis
    restart: always