aiohttp==3.9.5
discord-py-interactions[speedup]==5.11.0
tansy==0.9.1
humanize==4.9.0
aiodns==3.2.0
attrs==23.2.0
pydantic==2.7.0
httpx[http2]==0.27.0
prisma==0.13.1
redis[hiredis]==5.0.3
orjson==3.10.1
python-dateutil==2.9.0.post0
sentry-sdk==1.45.0
rapidfuzz==3.8.1
pycryptodome==3.20.0
cachetools==5.3.3
msgspec==0.18.6
elytra-ms==0.5.0
uvloop==0.19.0; platform_system == "Linux"
