aiohttp==3.9.5
discord-py-interactions[speedup]==5.13.1
tansy==0.9.1
humanize==4.10.0
aiodns==3.2.0
attrs==23.2.0
pydantic==2.8.2
httpx[http2]==0.27.0
prisma==0.13.1
redis[hiredis]==5.0.7
orjson==3.10.6
python-dateutil==2.9.0.post0
sentry-sdk==2.10.0
rapidfuzz==3.9.5
pycryptodome==3.20.0
cachetools==5.4.0
msgspec==0.18.6
elytra-ms==0.7.1
uvloop==0.19.0; platform_system == "Linux"
